.header-container {
    background-color: #141414cc;
    margin: 0;
    margin-bottom: 40;
    border: 2;
    padding: 5px;
    align-items: center;
    color: white;
    border-color: red;
}

.top-ribbon {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.OdinSiteTitle {
    display: flex;
    justify-content: flex-start;
    height: 70px;

}

.linklist {
    display: flex;
    list-style-type: none;
    justify-content: flex-end;
    box-sizing: border-box;
    margin-left: auto;
    gap: 12px;
}
.LinkListDiv {
    display: flex;
    list-style-type: none;
    justify-content: flex-end;
    box-sizing: border-box;
}

body {
    margin: 0px;
    background-image: url(https://i.pinimg.com/originals/27/be/9f/27be9f95bcb3a6d9b647c0afe9958c11.jpg);
    background-size: 100%;
}

.body-container {
    display: flex;
    background-color: rgba(0, 0, 0, 0.705);
}

.Joker {
    display: flex;
    flex: 0 0 0;
    align-self: center;
}

.Yu {
    display: flex;
    flex: auto;
    align-self: center;
}